<%- include("header"); -%> 
<h2>This is a simple to do list project.</h2>
<p>This Project takes advantage of EJS, Layouts and Templates of EJS and uses some of the core concepts of NodeJs.</p>
<%- include("footer"); -%> 